<ion-view class="pane" role="region" style="">
  <ion-header-bar role="heading" class="crn-ion-header-bar bar bar-default" xattr-theme="bar-default" data-component="crn-ion-header-bar" id="crn-ion-header-bar-home-logged">
    <div class="buttons buttons-left header-item" data-component="crn-header-button" id="crn-header-button-1">
      <button aria-labelledby="left_navicon_sr" class="button button-clear component-holder" menu-toggle="left">
        <i class="icon ion-navicon"></i>
        <span id="left_navicon_sr" class="sr-only">{{'Accessibility.Button.Aria.Label.NavIcon' | translate}}</span>
      </button>
    </div>
    <h1 class="title" align-title="text-align: center;" style="text-align: center;">{{'Home.view.Home' | translate }}</h1>
    <div aria-labelledby="right_navicon_sr" class="buttons buttons-right header-item" data-component="crn-header-button" id="crn-header-button-2">
      <button class="button button-clear component-holder" menu-toggle="right">
        <i class="icon ion-navicon"></i>
        <span id="right_navicon_sr" class="sr-only">{{'Accessibility.Button.Aria.Label.NavIcon' | translate}}</span>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="scroll-content has-header" data-component="crn-ion-content">
  <h1 class="text-center h3 col-xs-12" xattr-position="text-center" xattr-type="h3" data-component="crn-heading" id="crn-heading-233909" style="margin-top:20px;">Projeto padrão</h1><img alt="Placehold" src="assets/sketch.png" class="col-xs-12" style="object-fit: none;" xattr-position="" width="" height="150" object-fit="object-fit: none;" data-component="crn-image" id="crn-image-276873"><h1 class="col-xs-12 h5 text-center" xattr-position="text-center" xattr-type="h5" data-component="crn-heading" id="crn-heading-463301">// Em desenvolvimento...</h1></ion-content>
</ion-view>
 

 
