{
  "app": {
    "guid": "c3434944-cb4f-41aa-b9af-99448fbf1a52",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.cronstandard",
    "artifactId": "io.cronapp.apps.cronstandard"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "openApi": {
    "exposeEndpoints": true,
    "exposeDataSources": true,
    "exposeEntities": true,
    "exposeBlocklys": true,
    "exposeAuth": true
  },
  "security": {
    "token": "YzM0MzQ5NDQtY2I0Zi00MWFhLWI5YWYtOTk0NDhmYmYxYTUy",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": true,
    "mutual": false,
    "socialNetworks": [
      {
        "name": "facebook",
        "appId": "appId",
        "appSecret": "appSecret",
        "active": true
      },
      {
        "name": "github",
        "appId": "Ov23ctwoipbvcEiAjFmy",
        "appSecret": "1204a002ed4e0191a888222871e85191d9fccc43",
        "active": true
      },
      {
        "name": "linkedin",
        "appId": "appId",
        "appSecret": "appSecret",
        "active": true
      },
      {
        "name": "google",
        "appId": "appId",
        "appSecret": "appSecret",
        "active": true
      },
      {
        "name": "cronapp",
        "appId": "",
        "appSecret": "",
        "active": true
      }
    ],
    "autoSignUpSocial": true,
    "applicationProperties": {
      "security.oauth2.client.clientAuthenticationScheme": "form",
      "security.oauth2.saml.storePass": "storePass",
      "security.oauth2.client.accessTokenUri": "accessTokenUri",
      "cronapp.framework.mailer.scheduler.batchSize": "10",
      "cronapp.framework.mailer.username": "qateste044@gmail.com",
      "cronapp.framework.mailer.host": "smtp.gmail.com",
      "security.oauth2.saml.entityId": "entityId",
      "cronapp.framework.mailer.auth": "true",
      "security.oauth2.saml.maxAuthenticationAge": "7200",
      "security.oauth2.client.userAuthorizationUri": "userAuthorizationUri",
      "security.oauth2.saml.storeFile": "storeFile",
      "security.oauth2.saml.privateKeyPass": "privateKeyPass",
      "security.oauth2.resource.userInfoUri": "userInfoUri",
      "security.oauth2.sso.login-path": "/login",
      "security.oauth2.client.scope": "openid profile email",
      "security.oauth2.client.clientId": "clientId",
      "cronapp.framework.mailer.password": "gzuf ztot tqdu ysvr",
      "cronapp.framework.mailer.protocol": "smtp",
      "cronapp.framework.mailer.tls": "true",
      "security.oauth2.saml.forceAuthN": "false",
      "cronapp.framework.mailer.port": "587",
      "spring.output.ansi.enabled": "ALWAYS",
      "security.oauth2.client.clientSecret": "clientSecret",
      "cronapp.framework.mailer.scheduler.expression": "0 * * ? * *",
      "security.oauth2.saml.metadataUrl": "metadataUrl",
      "cronapp.security.authentication": "true",
      "security.oauth2.saml.privateKey": "privateKey",
      "security.oauth2.resource.preferTokenInfo": "false"
    },
    "templateProperties": {
      "mutual": "false",
      "social": "true",
      "appid": "io.cronapp.apps.cronstandard",
      "backend": "true",
      "theme": "Material",
      "availableSignup": "true",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true,
    "minPasswordSize": 6,
    "failedAttempts": 4,
    "blockTime": 10,
    "idletime": 0,
    "onlyStrongPass": true,
    "dontAllowRepeatedPass": true,
    "minUpperCase": 1,
    "minDigit": 1,
    "minSpecial": 1
  },
  "email": {
    "emailResetPassword": "qateste044@gmail.com",
    "nameResetPassword": "Não responder"
  },
  "proxy": {
    "host": "",
    "port": ""
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "cors": "*",
  "corsMethods": "*",
  "corsHeaders": "*",
  "projectName": "ProjetoComponentes",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "themeConfiguration": {
    "webTheme": {
      "themeName": "Material",
      "searchableText": "MaterialO tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "themeDescription": "O tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "imgSrc": "/rwt-resources/files-templates/theme-image--1908357970.png",
      "themePath": "node_modules/cronapp-framework-js/css/themes/material.min.css",
      "deprecated": false
    },
    "mobileTheme": {
      "themeName": "Material",
      "searchableText": "MaterialO tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "themeDescription": "O tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "imgSrc": "/rwt-resources/files-templates/theme-image--1908357970.png",
      "themePath": "node_modules/cronapp-framework-mobile-js/css/themes/material.min.css",
      "deprecated": false
    },
    "webSkin": {
      "skinPath": "src/main/webapp/css/skins/cron-standard-theme.css",
      "skinRelativePath": "css/skins/cron-standard-theme.css"
    },
    "mobileSkin": {
      "skinPath": "src/main/mobileapp/www/css/skins/cron-standard-theme.css",
      "skinRelativePath": "css/skins/cron-standard-theme.css"
    }
  },
  "saveAuditLog": 365,
  "servicesConfiguration": {
    "storeCredentials": true,
    "elasticServer": "qaelasticprod.cloud.cronapp.io",
    "apmServer": null,
    "cacheServer": null,
    "queueServer": null,
    "storageServer": null,
    "analyticsServer": null
  },
  "showStackTrace": true,
  "locale": "",
  "biometricAuthentication": false,
  "webLogoutRoute": "views/login.view.html",
  "mobileLogoutRoute": "views/login.view.html",
  "extraHeaders": [],
  "webMainRoute": "views/login.view.html",
  "mobileMainRoute": "views/login.view.html",
  "xframeOptions": "SameOrigin"
}