<?xml version="1.0" encoding="UTF-8"?><Context>
    <Resource accessToUnderlyingConnectionAllowed="true" cloudDatabaseKey="" driverClassName="org.h2.Driver" logAbandoned="true" name="jdbc/main" password="root" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="" type="javax.sql.DataSource" url="jdbc:h2:file:~/data;ALIAS_COLUMN_NAME=true;AUTO_SERVER=TRUE" username="root"/>
    <Parameter name="elastic.server" value="qaelasticprod.cloud.cronapp.io"/>
    <Profile value="DEV"/>
    <Profile value="PROD"/>
    <Parameter name="elastic.username" value="elastic"/>
    <Parameter name="elastic.password" value="PassW0rd"/>
</Context>
