@media (max-width: 600px) {
  .style8521 { 
  height: 294px;
}
}


@media (max-width: 750px) {
  

@media (max-width: 992px) {
  

@media (max-width: 9910px) {
  

@media (max-width: 991px) {
  

@media (max-width: 992px) {
  

@media (max-width: 990px) {
  

@media (max-width: 992px) {
  

@media (max-width: 990px) {
}
}
}
}
}
}
}
}


@media only screen and (ma-widt: 992px) {
  

@media only screen and (max-width: 992px) {
  body { 
  margin-bottom: 15px;
  padding-bottom: 198px;
}
}
}

@media only screen and (max-width: 992px) {
  .style-mobile { 
  margin-bottom: 15px;
  padding-bottom: 198px;
}
}
.style2057 { 
  margin-top: 30px;
  margin-left: 5px;
}

.style6205 { 
  margin-top: 15px;
  margin-left: 300px;
  margin-right: 0px;
}

.style6305 { 
  margin-left: 0px;
  margin-top: 15px;
  text-align: right;
}

pesquisar obter { 
  margin-right: 5px;
  margin-left: 20px;
  margin-top: 15px;
}

pesquisar { 
  margin-top: 20px;
  margin-left: 10px;
}
